body{
    font-family: tahoma, arial, sans-serif;
    
}

#principal{
    width: 1024px;
    margin: 40px auto;
}

/* Parte 1 */

header{
    background-image: url(../imagens/topo.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;

    
    height: 550px;

    
}

.Borda{
    color: white;
    background-color: #162028;
    height: 50px;
}

.Borda img{
    display: block;
    margin-top: 8px;
    float: left;
    margin-left: 200px;
}

.Borda ul{
    text-align: right;
    margin-right: 50px;
    
}

.Borda li{
    display: inline-block;

    list-style: none;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    color: #486574;
    text-indent: 20px;
    
    margin: 16px;
    margin-right: 10px;

}

.Borda a{
    letter-spacing: 3px;
    color: #486574;
    text-decoration: none;
    transition: color 0.2s linear;
}

.Borda a:hover{
    color: #75acc5;
}

/* Parte 2 */



.Portfolio{
    text-align: center;
    
    padding: 50px 100px;

    line-height: 35px;
}

.Portfolio h2{
    font-size: 36px;
}

.Portfolio p{
    color: #696969;
}

.Galerry{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.window{
    width: 32%;
    float: left;
    text-align: center;
    
    text-transform: uppercase;
}

.window h3{
    color: #414141;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 4px;
}

.window p{
    color: #696969;
    letter-spacing: 2px;
}


/* Parte 3 */

.About{
    background-color: #003d52;
    background-image: url(../imagens/bg_detalhe.png);
    padding: 70px 90px 110px 90px;
    color:white;

    background-position: bottom right;
    background-repeat: no-repeat;

    
}

.About h4{
    width: 90%;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
}

.About p{
    line-height: 22px;
    width: 65%;
}

/* Parte 4 */

#Contact{
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#Contact address{
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    color: #244e61;
    font-weight: bold;
    font-style: normal;
}

#email{
    font-size: 18px;
}

/* Parte 5 */


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:95%;
    width:100%;
    position:absolute;
}

/* Parte 6 */

footer{
    background-color: #06171F;
    color: #75acc5;
    text-align: center;
    height: 50px;
    padding-top: 1px;
    letter-spacing: 5px;
}
