/* ---------------------------- header --------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    height: 110px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header img{
    background-color: black;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-name{
    display: flex;
    align-items: center;
}

header .local-filme{
    padding-right: 50px;
    font-size: 16pt;
}

header .local-filme a:hover{
    border-bottom: 1px solid white;
    color: #ccc;
}

header #link{   
    display: flex;
}

header a{
    text-decoration: none;
    color: white;
}

/* ---------------------------- footer --------------------------------- */

footer{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    color: white;
}
